
body {
  background:whitesmoke;
}

.displayed {
  margin: 20px;
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
    
}

.line {
  width: 250px;
  align-items: center;
}

.navbar {
  padding: 0px;
  margin: 0px 5px 0px 0px;
}